@model ProjetTNAI.Entities.Models.Plan

@{
    ViewBag.Title = "Details";
}

<h2>Plan @Html.DisplayFor(model => model.Nazwa)</h2>
<h4> @Html.DisplayFor(model => model.Rok) @Html.DisplayFor(model => model.Grupa)</h4>


<div>
    <h4>Plan</h4>
    <hr/>
    <dl class="dl-horizontal">

        @foreach (var lesson in Model.ZajeciaWPlanie)
        {
            <h3>Nazwa: @lesson.Nazwa</h3>
            <h5>Dzień: @lesson.DzienTygodnia</h5>
            <h6>Czas trwania: @lesson.Poczatek.ToString("HH:m") - @lesson.Koniec.ToString("HH:m")</h6>
            @Html.ActionLink("szczegóły ", "Details", "Classes", new { id = lesson.Id }, null)
            <hr />
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
